.btn-outline {
    color: #000;
    background-color: transparent;
    border: 1px solid #DEE2E6;
    font-size: 16px;
    backdrop-filter: blur(15px);
    transition: background-color 0.2s ease;
}


.blue {
    &:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
}