.card-color {
    color: #f5f4f3;
}

.glass-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);

    a {
        text-decoration: none;
        color: black;
    }
}

.spacing {
    margin: 100px auto 0
}

.effect {
    display: block;
    transition: transform 0.3s linear;

    &:hover {
        transform: scale(1.1);
    }
}