// Home
.welcome {
    text-align: center;
    height: calc(50vh - 91px);
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1 {
        font-size: 60px;
        color: #f5f4f3;
    }

    p {
        font-size: 25px;
        color: #f5f4f3;
    }

    a {
        color: #f5f4f3;
        padding: 13px 25px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.35);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        font-weight: 500;

        &:hover {
            border-radius: 20px;
            background-color: rgba(235, 235, 235, 0.5);
        }
    }
}



.jumbotron {
    height: 50vh;

    display: flex;
    align-items: end;
    justify-content: center;

    figure {
        margin-bottom: 0;
        width: 1000px;
        height: 100%;
        overflow: hidden;

        img {
            border-radius: 50px;
        }
    }
}