#preview-section {
    height: 250px;
    width: 250px;

    img {
        height: 250px;
        width: auto;
    }
}

.show-image {
    width: auto;
    height: 100%;
}


input {
    backdrop-filter: blur(15px);
}

#mio {
    background-color: #A5E3D8;
}


select {
    backdrop-filter: blur(15px);
}

option {
    background-color: #ADE6CE;
}

#add-ingredient-btn {
    backdrop-filter: blur(15px);

    &:hover {
        border-radius: 20px;
        background-color: rgba(235, 235, 235, 0.6);
    }
}

.form-text.text-12 {
    font-size: 12px;
}