.image-preview {
    height: 75px;

    img {
        height: 100%;
        width: auto;
    }
}

// Table


h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 20px 20px 0 0;
}

.tbl-content {
    height: 600px;
    overflow-x: auto;
    margin-top: 0px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    border-radius: 0 0 0 20px;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.199);
    transition: background-color 0.3s ease;
    cursor: pointer;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.btn-outline-light {
    color: #f8f9fa !important;
    background-color: transparent !important;
    background-image: none;
    border-color: #f8f9fa;
    border: 2px solid #f8f9fa !important;
    font-size: 16px !important;
}

.destroy:hover {
    color: #f8f9fa !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.show:hover {
    color: #f8f9fa !important;
    background-color: #0D6EFD !important;
    border-color: #0D6EFD !important;
}

.edit:hover {
    color: #f8f9fa !important;
    background-color: #FFC107 !important;
    border-color: #FFC107 !important;
}


.img-preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}